.backlink {
    text-decoration: none;
    color: $color-black;
    font-size: 32px;
    font-weight: 300;
    margin: 2rem 0;
    padding-bottom: .5rem;

    &:hover {
        color: $main-color;
        transition: $transition;
    }
}