// VARIABLES

// COLORS
$main-color: #FFBB25;
$color-white: #f9f9f9;
$color-grey: #e2e2e2;
$color-black: #1f1f1f;
$color-black-80: rgba(31, 31, 31, .80);
$color-black-20: rgba(31, 31, 31, .20);
$color-success: #17D069;

// Text
$main-font: 'Roboto';

// Animatioins
$transition: .3s;