.fc-daygrid-event-harness {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;

    .event-card {
        width: 80%;
        cursor: pointer;
        padding: 1rem .5rem;
        
        .event-client {
            font-weight: 700;
            margin-bottom: 1rem;
        }

        p {
            word-break: normal;
            width: 100%;
            white-space: pre-line;
            margin: 0px;
        }

    }
}
